html,body{
  height: 100%;
}
body{
  height: 100%;
}
@import"_variables";
div#wrapper{
  height: 100%;
}
#well{
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);

}
div#separator{
  height: 1px;
  background: $blue;
  margin-top: 7px;
  margin-bottom: 25px;
}
#center-block{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
div#page-wrapper{
  min-height: 100%;
  //background: url('../images/bg1.jpg') center center fixed;
  background-position: 100%;
  padding: 5%;
  background: white;
}

div#admin-box{
  max-width:800px;
  @extend #well;
  border-radius: 0px;
  @extend #center-block;
  header{
    color: $blue;
  }
}
#vb-button{
  background: $blue;
  color: white;
  border-radius: 50px;
  &:hover{
    background: white;
    border: 2px solid $blue;
    color: $blue;
  }
}
//addEventForm
section#addEvent{
  form#event-form{
    h2,h5{
      color: $blue;
    }

   // @extend #well, #center-block;
    //max-width: 550px;
    padding:2%;
    label{
      color: $blue;
    }
    .form-control{
      max-width: 300px;
      border: 2px solid $blue;
    }
    button{
      @extend #vb-button;
    }

  }

}
//ad-events
div#ad-Events{
  div.media{
    div.media-bottom{
      margin-top: 18px;
      background: $yellow;
      padding: 5px;
    }
  }
}
div#ad-event-info{
  div.row{
    margin-bottom: 10px;
    margin-top: 10px;
    color: $text-color;
    strong{
      color: black;
    }
  }
}
p.error{
  color: $brand-danger;
}
div.alert-success{
  background: $brand-success;
  color: white;
 // transition: f;
}
div.alert-warning{
  background-color: $brand-warning;
  color: white;
}
//allTeams
section#allTeams{
  div#team{
    div{
      margin-bottom: 20px;
    }
    img{
      width: 130px;
      height: auto;
      @extend #center-block;
    }

  }
}
section#viewTeam{

}
form#add-team{
  position: relative;
  @extend #center-block;
  min-height: 250px;
  border-radius: 2px;
  border: 0;
  background: white;
  //fieldset


  padding: 40px;
  h4{
    color: $blue;
  }
  .form-group{
  }

  input.form-control{
    max-width: 400px;
    border: 2px solid $blue;

  }
  div#separator{
    max-width: 400px;
  }
  label{
    color: $blue;
  }
  div#team-data{

    div#added-member{
      border: 1px solid $yellow;
      height: 204px;
      border-radius: 5px;
      padding: 3px;
      overflow-y: scroll;
      div#vb-player-preview{
        .media{
          border-bottom: 1px solid;
          .media-body ul{
            font-size: 9px;
          }
        }
      }
    }
    div#team-member{

      width: 180px;
      height: 180px;
      background: $light-blue;
      border-radius: 5px;
      margin: 20px auto;
      position: relative;
      cursor: pointer;
      &:hover{
        background: #696a95;
      }
      i{
        position: absolute;
        font-size: 100px;
        color: white;
        top: 28%;
        left: 31%;
      }
      p{
        position: absolute;
        font-size: 20px;
        color: white;
        text-align: center;
        top: 74%;
        left: 34%;
      }

    }
  }
  div#agree{
    display: inline-block;

    button{
      background: white;
      color: $blue;
      border: $blue 2px solid;
      border-radius: 50px
    }
    input{
      border: 2px solid $blue;
    }
    color: $blue;
  }

  button[type='button']{
    background: $blue;
    color: white;
    border: 1px solid $blue;
    border-radius: 20px;
    &:hover{
      color: white;
      background: $light-blue;
    }
  }

}
//team-overview
section#team-overview{
  div#teamInfo{
    img{
      height: 150px;
      width: auto;
      @extend #center-block;
    }
    ul{
      li{
        line-height: 2;
        font-size: 18px;
        span{
          text-transform: capitalize;
          color: $text-color;
        }
        a{

        }
      }
    }
  }

    div#teamPlayers{
      .panel-heading{
        background: $blue;
        padding: 1px 15px 15px;
        height: 50px;
        a{
          color: white;
          text-decoration: none;

        }
        h3{
          font-size: 15px;
        }

        border-radius: 0px;

      }
      div.panel-body{
        height: 320px;
        overflow-y: scroll;
      }
      div.panel-footer{
        background: #dce0c8;
      }
    }
  form#editPlayer{
    padding: 10px;
    .form-control{
      border: 2px solid $blue;
    }

  }

  div#teamStaff{
    @extend #teamPlayers;
  }
}
div#add-player{

  #member-info{
    //padding: 20px;

    div#manager-img,div#player-img{
      img#show-img,img#show-player-img{
        width: 180px;
        height: 180px;
        display: block;
      }
      button{
        background: $light-blue;
        width: 180px;
        height: 35px;
        position: relative;
        border-radius: 0;
        border: none;
      }

      //cursor: pointer;
      input[type='file']{
        display: none;
      }

      i{
        position: absolute;
        font-size: 150px;
        color: blue;
        left: 17%;
        top: 5%;
      }
    }
    div#coach-img{
      img#show-coach-img{
        width: 180px;
        height: 180px;
        display: block;
      }
      button{
        background: $light-blue;
        width: 180px;
        height: 35px;
        position: relative;
        border-radius: 0;
        border: none;
      }

      //cursor: pointer;
      input[type='file']{
        display: none;
      }

      i{
        position: absolute;
        font-size: 150px;
        color: blue;
        left: 17%;
        top: 5%;
      }
    }
    .form-control{
      border: 2px solid $blue;
    }
    label{
      color: $blue;
      font-weight: 100;
    }

    button{
      margin-top: 16px;
      background: white;
      color: $blue;
      border-radius: 50px;
      border: 2px solid $blue;
    }
    //member photo

  }
}
section#vb-team-edit{
  form{
    padding: 10px;
    .form-control{
      border: 2px solid $blue;
      max-width: 450px;
    }

  }
}


