
// Variables
@import "_variables";

html,body{
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
  height: 100%;
  // background:#e6e6e6 ;
  font-family:'Questrial',sans-serif;

a{
  text-decoration: none;
  color: $black;
  &:hover {color:$purple; text-decoration: none};
}

.btn-purple {
  color: $purple;
  background-color: none;
  border: 1px solid $purple;
  border-radius: 20px;
  &:hover {color: white; background-color: $purple}
}

// Helper classes
.right-10 {
  margin-right: 10px;
}
.right-5 {
  margin-right: 5px;
}
.top-bottom-padding-40 {
  padding: 40px 0;
}
.bottom-40 {
  margin-bottom: 40px;
}
.top-40 {
  margin-top: 40px;
}
.bottom-20 {
  margin-bottom: 20px;
}
.top-20 {
  margin-top: 20px;
}
.float-right {
  float: right !important;
}
// End of helper classes
}
.gray-background {
  background-color: $whitesmoke
}
.gray-separator {
  height: 1px;
  background-color: $gray;
}
.purple-separator {
  height: 1px;
  background-color: $purple;
}

// Media queries
@media (min-width: 320px) and (max-width: 767px) {
  .float-right {
    float: none !important;
  }
}
// End of media queries

div#background{
  //background: url("../images/banner2.jpg") fixed center center;
  background-repeat: no-repeat;
  background: white;
  background-size: cover;

  // width: 80%;
  //color: #757575;
  color: $text-color;
  font-weight: 300;
  min-height: 100%;
  line-height: 1.6;
  font-size: 15px;
  padding: 30px 0;
  //box-shadow: 0px 1px 9px 0px black;
}
.error{
  color: $alert-red;
  font-size: smaller;
}
nav#menu{
  background:url('../images/volleyballng_heade2re.png')/*$blue*/ no-repeat center center;
  background-size: 100% 60px;
  border: none;
  margin: 0;
  top:-17px;
  border-radius: 0px;
  padding: 20px;
  div#volleymenu{
    display: none;
    a#close{
      color: white;
      i{
        margin-top: 10px;
        font-size: 23px;
        margin-bottom: 20px;
      }
    }
    ul#menu-list{
      /*display: none;*/
      position: fixed;
      background: #4348ca;
      top: 0;
      left: 0;
      height: 100%;
      padding: 40px;
      box-shadow: 0px 1px 9px 0px black;
      width: 200px;
      list-style: none;

      li{
        margin-bottom: 10px;
        a{
          color: white;
          text-transform: capitalize;
          font-size: 20px;
          text-decoration: none;
        }
      }
      img{
        width: 125px;
        position: absolute;
        top: 80%;
        right: 40px;
      }
    }
  }

  div.navbar-brand img{
    width: 77px;
    position: absolute;
    top: 25%;
    right: 34px;
  }
  button#toggle-bar{
    // position: absolute;
    //cursor: pointer;
    margin-top: 12px;
    background: none;
    border: none;
    span{
      background: white;
      width: 21px;
      height: 2px;
      border-radius: 2px;
      display: block;
      margin-bottom: 5px;

    }
    &:hover{
      background: black;
    }
    &:focus{
      background: black;
    }



  }
  /* div.collapse.navbar-collapse{
     background: $blue;
     width: 200px;
     position: absolute;
     top: 0;
     left: 0;
     min-height: 500px;
     box-shadow: 0px 1px 9px 0px black;
     ul{
       padding: 10px;
       margin: -0.5px -18px;
     }
     a#close{
       color: white;
       margin:10px 10px ;
       i{
         margin-top: 10px;
         font-size: 23px;
       }
     }
   }*/
}
//footer
div#footer{
  div#bar{
    background: $yellow;
    height: 6px;
    width: 100%;
  }
  footer{
    background:$blue ;
    padding: 20px 10%;

    div#sponsor-brands,div#social-pages{

      /*justify-content: center;*/
      ul{
        @extend #center-block;
        width: 120px;
        /*justify-content: space-around;*/

        li{
          display: inline-block;
          margin: 4px;
          i{
            color: black;
            font-size: 50px;
          }
        }
      }
    }
    div#social-pages{
      margin-top: 14px;
      ul li i{
        color: white;
        font-size: 20px;
      }
    }
    section{
      /*margin-top: 40px;*/
      display: flex;
      justify-content: space-between;
      #footer-links{
        ul li a{
          text-decoration: none;
          color: white;
          font-size: 20px;
          &:hover{
            color: black;
          }
        }
      }
    }
    aside#copyright ul{
      max-width: 500px;
      @extend #center-block;
      li{
        color: white;
      }
    }




  }

}
//
header{
  a{
    text-decoration: none;
    h2{
      &:hover{
        color: black;
      }
    }
  }
  h1,h2,h3,h4{
    color: $blue;
    text-decoration: none;
  }
  h2,h3,h4{
    font-weight: 300;
  }

}
#container{
  margin: 20px  5% 20px;
  min-width: 250px;
}
div#wrapper{
  min-height: 100%;
  //background: white;
  margin: 61px  0% 10%;//4%
  div#yellow-separator{
    height: 1px;
    background: $yellow;
    margin-top: 7px;
    margin-bottom: 25px;
  }

}
section#content{
  padding: 10px 0;
  //background: white;
  header{
    h2{
      color: $purple;
      font-weight: 500;
      &:hover{color:$purple;}
    }
  }
  aside{
    padding: 10px;
    background: white;
    color:$text-color;
  }
}
//homepage
section#our-home{
  span.pull-right{
    font-size: 2rem;
  }
  header#tagline{
    @extend #container;

    h1{
      font-weight: 100;
      font-size: 36px;
      color: $dark-gray;

    }
    p{
      text-align: center;
    }
  }
  article{
    @extend #container;
    background: white;
    color:$text-color ;
    padding: 10px;
    p{
      font-family: $sans-font;
      font-size: 15px;

    }
  }
  article#vb-home-team{
    //background: url("../images/teams_logo.png") fixed center center no-repeat;
    position: relative;
    div.swiper-wrapper{
      div.swiper-slide{
        // background: white;
        /*border: 2px solid $yellow;*/
        height: 360px;
        max-width: 430px;
        &:hover div#more-photos{
          height: 100%;
          bottom: 0;
          transition: .5s ease;
        }
        div#box{
          position: relative;
        }
        div#more-photos{
          background: transparentize($purple, 0.2);
          color: white;
          font-size: 20px;
          position: absolute;
          height: 0;
          width: 100%;
          bottom: 100%;
          left: 0;
          right: 0;
          overflow: hidden;
          font-family: $sans-font;
          a{
            text-decoration: none;
            &:hover{
              color: white;
            }
          }
          i{
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 50px;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            overflow: hidden;

          }
          h3{
            white-space: nowrap;
            color: white;
            font-size: 20px;
            position: absolute;
            overflow: hidden;
            top: 56%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
          }


        }

        img{
          width: 100%;
          //border-top-left-radius: 15px;
          //border-top-right-radius: 15px;
          max-height: 255px;
          //box-shadow:-2px 1px 9px 0px black;
        }
        header{
          div#bar{
            height: 10px;
            background: $gray;
            border-radius: 5px;

          }
          box-shadow: 0px 2px 9px 0px $dark-gray;
          background: white;
          padding: 10px;

          //border-bottom-left-radius: 20px;
          //border-bottom-right-radius: 20px;
          p{
            a{
              color: $purple;
              margin-top:10px ;
              line-height: 2;
              text-decoration: none;
              font-size: 18px;
              font-weight: 600;
              &:hover{
                color: $purple;
              }
            }

          }
        }

        /*!* Center slide text vertically *!
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;*/
      }
    }
    /*div#overlay{
      background-color: rgba(0,0,0,0.7);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      //z-index: 11;

    }*/
    h2{


    }
    header{
      /*position: absolute;
      padding: 90px 50px;
      top: 0;
      margin: 0 auto;
      width: 100%;*/
    }
    p{
      //color: ;
    }

  }
  div#vb-team-carousel{
    .carousel-caption{
      background: black;
    }
  }
  div#event-preview{
    @extend #container;

    div#preview{

      div#box{
        position: relative;
      }

      img{

      }

      p{
        text-align: center;
        margin-top: 5px;
      }
      span i{
        position: absolute;
        top: 53%;
        left: 75%;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        background: $blue;
        color: white;
        transition: opacity 150ms;
        padding: 0px;
        font-size: 21px;
        border-radius: 50%;
        border: 2px solid $blue;
        /* padding: 10px calc(50% - 50px);*/
        opacity: 0.75;
        &:hover{
          opacity: 1;
        }
      }
      &:hover div#more-photos{
        height: 100%;
        bottom: 0;
        transition: .5s ease;
      }
      div#more-photos{
        background: transparentize($purple, 0.2);
        color: white;
        font-size: 20px;
        position: absolute;
        height: 0;
        width: 100%;
        bottom: 100%;
        left: 0;
        right: 0;
        overflow: hidden;
        font-family: $sans-font;
        a{
          text-decoration: none;
          &:hover{
            color: white;
          }
        }
        i{
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 50px;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          overflow: hidden;

        }


      }
      div#more-videos{
        @extend #more-photos;
        background: rgba(68, 73, 202, 0.80);
      }
      h4{
        background: white;
        margin-top: 0px;
        padding: 20px;
        color: $dark-gray;
        box-shadow: 0px 2px 9px 0px $dark-gray;
      }

      // h4.blue{
      //   background: $blue;
      // }
    }

  }

}
//events
article{
  div#media{
    width: 100%;
    overflow: hidden;
    img{
      width: 90%;
      height: auto;
      border-radius: 10px;
    }
  }
  aside{
    h3{
      color: $blue;
    }
    span{
      display: block;
    }

  }
  section#sub-links{
    margin-top: 40px;
    ul{
      li{
        a.btn.btn-default{
          background: $blue;
          color: white;
          border-radius: 20px;
        }
        a i{
          background: $blue;
          color: white;
          padding: 7px;
          font-size: 15px;
          border-radius: 20px;
        }

      }
    }
  }
}
//breadcrumbs
ol.breadcrumb{
  font-size: 11px;
}
//buttons
#vb-button{
  background: $blue;
  color: white;
  border-radius: 50px;
  &:hover{
    background: white;
    border: 2px solid $blue;
    color: $blue;
  }
}
//videos
//gallery
section#Gallery{
  @extend #container;
  div#media{
    img{
      width: 250px;
      height: 200px;
      margin-bottom: 40px;
    }
  }
}
article#tutorials{
  background: $gray;
  padding: 5px 15px;
  border-radius: 5px;
  /*display: flex;*/
  display:inline-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  div#thumbs{
    display: flex;
    max-width: 450px;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 25px;

    div#trials{
      // border: 2px solid $blue;
      width: 180px;
      height: 170px;
      margin-bottom: 20px;
      margin-left: 28px;
      img{
        display: inline;
        width: inherit;
        height: auto;
        margin: 0 20px;
        //border-radius: 5px;
        box-shadow: 0px 1px 9px 0px black;
      }
    }
  }

  div#caption{
    height: 360px;
    width: 350px; //border: 2px solid $blue;
    display: block;
    margin-top: 25px;
    img{
      border-radius: 5px;
      height: auto;
      width: inherit;
      box-shadow: 0px 1px 9px 0px black;

    }
  }

  aside{
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    /*justify-content: space-between;*/

    div#preview {
      width: 180px;
      height: 200px;
      margin: 0 14px 0 7px;
      position: relative;
      img {
        width: inherit;
        height: auto;
      }
    }
  }


}
article#our-events{
  header{
    background: $gray;
    padding: 20px;
    margin-top:40px;
    span{
      text-transform: uppercase;
      font-size: 16px;
    }
    button{
      background: white;
      color: $blue;
      border-radius: 20px;
      border: 2px solid $blue;
      padding: 0px 5px;
    }
  }
  aside#event-preview{
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    /*justify-content: space-between;*/

    div#preview{
      width: 180px;
      height: 200px;
      margin: 0 15px 0 15px;
      position: relative;
      img{
        width: inherit;
        height: auto;
      }
      p{
        text-align: center;
        margin-top: 5px;
      }
      span i{
        position: absolute;
        top: 45%;
        left: 85%;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        background: $blue;
        color: white;
        transition: opacity 150ms;
        padding: 0px;
        font-size: 21px;
        border-radius: 50%;
        border: 2px solid $blue;
        /* padding: 10px calc(50% - 50px);*/
        opacity: 0.75;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
}
//event
article#event{
  @extend #container;
  aside{
    p{
      font-size: 18px;

    }
  }
  section#sub-links{
    a.btn.btn-default {
      background: #4449ca;
      color: white;
      border-radius: 35px;
      padding: 22px;
      font-size: 18px;
      &:hover{
        background: white;
        border: 2px solid $blue;
        color: $blue;
      }
    }
  }

}
div#access{
 /* margin-left: 0;
  margin-top: 50px;*/
  @extend #container;

  aside{
    display: inline-block;
    p{
      font-size: 18px;

    }
  }
  li{

    margin: 0;
    padding: 0;
  }
  form{
    div.input-group{
      width: 140px;
      input{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border: 3px solid $blue;
        height: 36px;
      }
      label{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background: $blue;
        border: 3px solid $blue;
        height: 36px;
        i{
          color: white;
        }
      }
    }

  }

  div.dropdown.open button{
    background: $blue;
  }
  div.dropdown{
    font-size: 18px;
    color: $blue;
    button#filterDrop{
      width: 100px;
      border-radius: 20px;
      border: 3px solid $blue;
      i{
        color: $blue;
        float: right;
      }
    }
    ul.dropdown-menu{
      padding: 5px;
      left: 27%;
      min-width: 100px;
      .divider{
        background: $yellow;
      }
    }
  }
}
//event-list
div#event-list{
  padding: 5% 10px 10px 8%;
  div#event-thumb{
    h3{
      a{
        color: $blue;
        margin-top:10px ;
        line-height: 2;
        text-decoration: none;
        &:hover{
          color: $black;
        }
      }
    }
    //background: white;
    /*border: 2px solid $yellow;*/
    min-height: 300px;
    width:300px;
    padding: 0;
    margin: 10px 5% 75px 10px;

    img{
      width: inherit;
      /*border-top-left-radius: 15px;
      border-top-right-radius: 15px;*/
      max-height: 255px;
      //box-shadow:-2px 1px 9px 0px black;
    }
    header{

      box-shadow: 0px 2px 9px 0px black;
      background: white;
      padding: 10px;
      height:120px ;
      //width: inherit;

     /* border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;*/
      p{
        font-size: 13px;
        color: $text-color;

      }
    }
  }
}
div.alert-success{
  background:$brand-success;
  color: white;
}
//ve-event-caledner
section#vb-event-form{
  @extend #center-block;

  form#event-form{
    h2,h5{
      color: $blue;
    }

    @extend #well, #center-block;
    max-width: 550px;
    padding:2%;
    label{
      color: $blue;
    }
    .form-control{
      max-width: 300px;
      border: 2px solid $blue;
    }
    button{
      @extend #vb-button;
    }

  }

}
//calender
div#vb-calender{
 // padding: 5% 10px 10px 6%;
 // @extend #container;
  h3{
    color: $blue;
    //text-transform: up;
    border-bottom: 1px solid $blue;
    // padding-bottom: 30px;
    margin-top: 40px;
    max-width: 510px;

    @extend #center-block;
  }
  div#calender{
    margin-bottom: 30px;
    //@extend #container;
    //@extend #center-block;
    @extend #center-block;
    //width: 336px; responsive
    width: 530px;

    aside{
      //header
      div#calender-box{
        background: white;
        @extend #well;

        header{
          background: $blue;
          width: 100%;
          height: 50px;
          padding: 5px;
          margin: 0;
          @extend #center-block;
          h4{
            color: white;
            span{
              font-size: 30px;
            }
          }
        }

        div#bd-calender{
          width: 500px;
         // width: 300px; //responsive
          //margin-bottom: 50px;
          /*border-left:1px solid $text-color2;
          border-bottom: 1px solid $text-color;*/
          ul{
            padding: 0;
            margin: 0;
            li#bd-day{
              width: 14.28%;
              height: 45px;
              font-weight: bold;
              color: $text-color2;
              //border: 1px solid $black;
              //background: #e4e4e4;
              /*border-top: 1px solid $text-color;
              border-right: 1px solid $text-color;*/
              padding: 18px;
              float: left;
              font-size: 11px;
              cursor: pointer;


            }
            #bd-day.active{
              background: $blue;
              color: white;
            }
          }


        }
        div#calender_section_top{
          //width: 300px; responsive
          width: 500px;
          ul{
            list-style-type: none;
            padding: 0;
            li{
              width: 14.28%;
              float: left;
              margin: 0;
              padding: 0;
              text-align: center;
              display: block;
              color: $blue;
              font-weight: 600;
            }
          }


        }
      }


    }
    section{
      background: yellow;

    }

  }
  div#vb-schedules{
    margin-top: 100px;
    @extend #container;
    header{
      h3{
        text-align: center;

      }
    }
    div#schedule{
      margin-top:50px ;
      //@extend #center-block;
      div.media{
        div.media-body{
          div.media-heading h4{
            height: 35px;
          }
        }

      }


    }
  }

}
//end event-list
div#slides{
  /*width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;*/

  div.swiper-wrapper{
    div.swiper-slide{
      //background: white;
      /*border: 2px solid $yellow;*/
      height: 360px;
      max-width: 430px;
      &:hover div#more-photos{
        height: 100%;
        bottom: 0;
        transition: .5s ease;
      }
      div#box{
        position: relative;
      }
      div#more-photos{
        background: transparentize($purple, 0.2);
        color: white;
        font-size: 20px;
        position: absolute;
        height: 0;
        width: 100%;
        bottom: 100%;
        left: 0;
        right: 0;
        overflow: hidden;
        font-family: $sans-font;
        a{
          text-decoration: none;
          &:hover{
            color: white;
          }
        }
        i{
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 50px;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          overflow: hidden;

        }
        h3{
          white-space: nowrap;
          color: white;
          font-size: 20px;
          position: absolute;
          overflow: hidden;
          top: 56%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
        }


      }
      img{
        width: 100%;
        //border-top-left-radius: 15px;
        //border-top-right-radius: 15px;
        max-height: 255px;
        //box-shadow:-2px 1px 9px 0px black;
      }
      header{
        div#bar{
          height: 10px;
          background: $yellow;
          border-radius: 5px;

        }
        box-shadow: 0px 2px 9px 0px $dark-gray;
        background: white;
        padding: 10px;
        height:70px ;
        //border-bottom-left-radius: 20px;
        //border-bottom-right-radius: 20px;
        p{
          a{
            color: $purple;
            margin-top:10px ;
            line-height: 2;
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            &:hover{
              color: $purple;
            }
          }

        }
      }

      /*!* Center slide text vertically *!
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;*/
    }
  }

}
//events navbar
div#events-subnav{
  @extend #container;
  padding: 0;
  background: $blue;
  height: 40px;
  //display: block;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: bold;
  @extend #well;
  margin-bottom: 80px;
  //width: 100%;
  a{
    float: left;
    text-decoration: none;
    color: white;
    padding: 12px 14px;

  }
  a.active{
    background: white;
    color: $blue;
  }
}
//league-list
div#league-list{
  @extend #container;
  div.media{
    margin-bottom: 20px;
    img{
      width: 60px;
      height: 60px;
      border-radius: 5px;
    }
    p{
      line-height: 0.8;
      margin-top: 0;
    }
  }
}
#well{
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}
#center-block{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
section#register-team{
  @extend #container;
}
//banners

div#home-banner{
  margin-top: 28px;
}
//register and add team details
form.add-team{
  position: relative;

  min-height: 250px;
  @extend #well;
  border-radius: 2px;
  border: 0;
  background: white;
  //fieldset


  padding: 40px;
  h4{
    color: $blue;
  }
  .form-group{
    @extend #center-block;
  }

  input.form-control{
    max-width: 400px;
    border: 2px solid $blue;

  }
  label{
    color: $blue;
  }
  div#team-data{

    div#added-member{
      border: 1px solid $yellow;
      height: 204px;
      border-radius: 5px;
      padding: 3px;
      overflow-y: scroll;
      div#vb-player-preview{
        .media{
          border-bottom: 1px solid;
          .media-body ul{
            font-size: 9px;
          }
        }
      }
    }
    div#team-member{

      width: 180px;
      height: 180px;
      background: $light-blue;
      border-radius: 5px;
      margin: 20px auto;
      position: relative;
      cursor: pointer;
      &:hover{
        background: #696a95;
      }
      i{
        position: absolute;
        font-size: 100px;
        color: white;
        top: 28%;
        left: 31%;
      }
      p{
        position: absolute;
        font-size: 20px;
        color: white;
        text-align: center;
        top: 74%;
        left: 34%;
      }

    }
  }
  div#agree{
    display: inline-block;

    button{
      background: white;
      color: $blue;
      border: $blue 2px solid;
      border-radius: 50px
    }
    input{
      border: 2px solid $blue;
    }
    color: $blue;
  }
  div#yellow-separator{
    height: 2px;
    max-width: 400px;
  }
  button[type='button']{
    background: $blue;
    color: white;
    border: 1px solid $blue;
    border-radius: 20px;
    &:hover{
      color: white;
      background: $light-blue;
    }
  }

}
//#vb-player-preview
//progressive
ul#progressive-bar{
  max-width: 500px;
  min-width: 350px;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden;
  counter-reset: step;
  @extend #center-block;

  li{
    list-style-type: none;
    float: left;
    position: relative;
    width: 30%;
    font-size: 9px;
    &:before{
      content: counter(step);
      counter-increment: step;
      width: 20px;
      line-height: 20px;
      display: block;
      font-size: 10px;
      color: #333;
      background: white;
      border-radius: 3px;
      margin: 0 auto 5px auto;
      border: 1px solid $yellow;
    }
    &:after{
      content: '';
      width: 100%;
      height: 2px;
      background: $yellow;
      position: absolute;
      left: -50%;
      top: 9px;
      z-index: -1; /*put it behind the numbers*/
    }
    //connector not need before first
    &:first-child:after{
      content: none;
    }

  }
  li.active:before,li.active:after{
    background: $yellow;
    color: white;
  }

}
//add player
div#add-player{

  #member-info{
    //padding: 20px;

    div#manager-img,div#player-img{
      img#show-img,img#show-player-img{
        width: 180px;
        height: 180px;
        display: block;
      }
      button{
        background: $light-blue;
        width: 180px;
        height: 35px;
        position: relative;
        border-radius: 0;
        border: none;
      }

      //cursor: pointer;
      input[type='file']{
        display: none;
      }

      i{
        position: absolute;
        font-size: 150px;
        color: blue;
        left: 17%;
        top: 5%;
      }
    }
    div#coach-img{
      img#show-coach-img{
        width: 180px;
        height: 180px;
        display: block;
      }
      button{
        background: $light-blue;
        width: 180px;
        height: 35px;
        position: relative;
        border-radius: 0;
        border: none;
      }

      //cursor: pointer;
      input[type='file']{
        display: none;
      }

      i{
        position: absolute;
        font-size: 150px;
        color: blue;
        left: 17%;
        top: 5%;
      }
    }
    .form-control{
      border: 2px solid $blue;
    }
    label{
      color: $blue;
      font-weight: 100;
    }

    button{
      margin-top: 16px;
      background: white;
      color: $blue;
      border-radius: 50px;
      border: 2px solid $blue;
    }
    //member photo

  }
}

//teams
section#Teams{
  div#vb-teams{
    div#vb-team{
      margin-bottom: 20px;
      img{
        width: 80px;
        height: 80px;
        @extend #center-block
      }
      a{
        color: $black;
        text-decoration: none;
        &:hover{
          color: $blue;
        }
      h4{

        }

      }
    }
  }
}
//team sig
section#team-login{
  form#vb-team-login{
    @extend #well;
    max-width: 350px;
    margin: 120px auto 0;

    div.row{
      padding: 30px;
    }
    .form-control{
      border: 2px solid $blue;
      margin-bottom: 10px;
      margin-bottom: 0px;
    }
    h2{
      font-size: 5rem;
      i{
        margin-top: 40px;
      }

    }
    button{
      width: inherit;
      border-radius: 5px;

     // border-radius: ;
    }
  }
}
//viewTeam
section#viewTeam{

  h3{
    color: $blue;
    margin-top: 30px;
  }
  img#team-image{
    width: 90%;
    @extend  #center-block;
  }
  div#team-data{
    margin-top: 30px;
  }
  div#team-staff{
    .media{
      img{
        width: 100px;
      }
    }
  }
  div#staffs{
    ul{
      width: 250px;
      @extend #center-block;
      li{
        .role{
          padding-right: 20px;
          &:after{
            content: ":";
          }
        }
        strong{

        }

      }
    }
  }
  a.btn.btn-primary{
    background: $blue;
    color: white;
    border-radius: 50px;
    &:hover{
      background: white;
      border: 2px solid $blue;
      color: $blue;
    }
  }
}
//viewPlayers
section#viewPlayers{
  div.media{
    margin-bottom: 50px;
    div.media-body{
      a {
        text-decoration: none;
        h4{
          color: $blue;
          font-size: 15px;
        }
      }
      ul{
        li{
          font-size: 12px;
        }

      }
    }
    div.media-left{
      img{
        width: 150px;
      }
    }
  }
  div#players{
    @extend #container;
  }
}
//view player
section#viewPlayer{
  @extend #container;
  aside{
    div#player_image{
      img{
        max-width: 200px;
        margin-bottom: 20px;
      }
    }

    div#player_info{
      h4{
        color: $blue;
      }
    }
  }

}


@media only screen  and (max-width: 350px) {
  header#tagline{
    h1{
      font-size: 28px !important;
    }
  }
  //event preview
  aside#event-preview{
    div#preview{
      width: 100% !important;
    }
  }

  //access
  div#access{
    form{
      div.input-group{
        width: 105px !important;
      }
    }
    div.dropdown{
      button#filterDrop{
        width: 60px !important;
      }
    }
  }
  //end access
  //footer
  div#footer{
    footer{
      aside#copyright ul li{
        font-size: 8px;
      }

    }
  }
  //banners
  div#home-banner{
    div#banners{
      .swiper-slide{
        height: 180px !important;
      }
    }
  }
}
@media screen and (max-width: 599px) {
  aside#event-preview{
    div#preview{
      margin: 0 -20px 5px 0% !important;

      height: 115px !important;
      img{
        width: 160px !important;
      }
    }
  }
  //banners
  div#home-banner{
    div#banners{
      .swiper-slide{
        height: 200px !important;
      }
    }
  }

  //access
  div#access{

    div.dropdown{
      button#filterDrop{
        width: 70px !important;
      }
    }
  }
  div#footer{
    footer{
      aside#copyright ul li{
        font-size: 10px;
      }
      ul#footer-menu{
        font-size: 15px;
      }

    }
  }
}
@media screen and (max-width: 767px){
  //access
  aside#event-preview{
    div#preview{
      height: 115px !important;
      img{
        width: 160px !important;
      }
    }
  }

  //banners
  div#home-banner{
    div#banners{
      .swiper-slide{
        height: 240px !important;
      }
    }
  }

}
@media screen and (max-width: 980px){  }
