html,body{
  height: 100%;
}
body{
  height: 100%;
}

@import"_variables";


div#wrapper{
  height: 100%;
}
#well{
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);

}
//pagination
ul.pagination{
@extend #center-block;
  width: 200px;
  height: 50px;
}
//switch buton
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {display:none;}
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: $brand-success;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $brand-success;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}



div#separator{
  height: 1px;
  background: $blue;
  margin-top: 7px;
  margin-bottom: 25px;
}
#center-block{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
div#page-wrapper{
  min-height: 100%;
  //background: url('../images/bg1.jpg') center center fixed;
  background-position: 100%;
  padding: 5%;
  background: white;
}

div#admin-box{
  max-width:800px;
  @extend #well;
  border-radius: 0px;
  @extend #center-block;
  header{
    color: $purple;
  }
}
#vb-button{
  background: $blue;
  color: white;
  border-radius: 50px;
  &:hover{
    background-color: transparent;
    border: 1px solid $blue;
    color: $blue;
  }
}
.vb-button {
  background: $purple;
  color: white;
  border-radius: 20px;
  &:hover{
    background-color: transparent;
    border: 1px solid $purple;
    color: $purple;
  }
}

// Nav
nav#admin-menu{
  background: url("../images/volleyballng_heade2re.png") no-repeat center center;
  background-size: cover;
  border: none;

  a.navbar-brand img {
    width: 65px;
    position: absolute;
    top: 10%;
    //right: 34px;
  }

  ul.top-nav{
    a.dropdown-toggle{
      color: white;
    }
  }
}

// Sidebar
ul#admin-sidebar{
  background: $purple;
  li{
    a{
      color: white;
    }

  }
}

//addEventForm
section#addEvent{
  form#event-form{
    h2,h5{
      color: $blue;
    }

   // @extend #well, #center-block;
    //max-width: 550px;
    padding:2%;
    label{
      // color: $blue;
    }
    .form-control{
      max-width: 300px;
      // border: 2px solid $blue;
    }
    button{
      @extend #vb-button;
    }

  }

}
//ad-events
div#ad-Events{
  div.media{
    div.media-bottom{
      margin-top: 18px;
      background: $whitesmoke;
      padding: 20px;
    }
  }
}
div#ad-event-info{
  div.row{
    margin-bottom: 10px;
    margin-top: 10px;
    color: $text-color;
    strong{
      color: black;
    }
  }
}
p.error{
  color: $brand-danger;
}
div.alert-success{
  background: $brand-success;
  color: white;
 // transition: f;
}
div.alert-warning{
  background-color: $brand-warning;
  color: white;
}
//allTeams
section#allTeams{
  header{
    margin-bottom: 10px;
    clear: both;
  }
  div#team{
    div{
      margin-bottom: 20px;
    }
    img{
      width: 130px;
      height: auto;
      @extend #center-block;
    }

  }
}
section#viewTeam{

}
form#add-team{
  position: relative;
  @extend #center-block;
  min-height: 250px;
  border-radius: 2px;
  border: 0;
  background: white;
  //fieldset


  padding: 40px;
  h4{
    color: $blue;
  }
  .form-group{
  }

  input.form-control{
    max-width: 400px;
    // border: 2px solid $blue;

  }
  div#separator{
    max-width: 400px;
  }
  label{
    // color: $blue;
  }
  div#team-data{

    div#added-member{
      border: 1px solid $yellow;
      height: 204px;
      border-radius: 5px;
      padding: 3px;
      overflow-y: scroll;
      div#vb-player-preview{
        .media{
          border-bottom: 1px solid;
          .media-body ul{
            font-size: 9px;
          }
        }
      }
    }
    div#team-member{

      width: 180px;
      height: 180px;
      background: $light-blue;
      border-radius: 5px;
      margin: 20px auto;
      position: relative;
      cursor: pointer;
      &:hover{
        background: #696a95;
      }
      i{
        position: absolute;
        font-size: 100px;
        color: white;
        top: 28%;
        left: 31%;
      }
      p{
        position: absolute;
        font-size: 20px;
        color: white;
        text-align: center;
        top: 74%;
        left: 34%;
      }

    }
  }
  div#agree{
    display: inline-block;

    button{
      background-color: transparent;
      color: $blue;
      border: $blue 1px solid;
      border-radius: 20px;
      &:hover {
        background-color: $purple;
        color: white;
      }
    }
    input{
      // border: 2px solid $blue;
    }
    color: $blue;
  }


  button[type='button']{
    background: $blue;
    color: white;
    border: 1px solid $blue;
    border-radius: 20px;
    &:hover{
      color: $purple;
      background-color: transparent;
      border: 1px solid $purple
    }
  }

}
//team-overview
section#team-overview{
  div#teamInfo{
    img{
      height: 150px;
      width: auto;
      // @extend #center-block;
    }
    ul{
      li{
        line-height: 28px;
        font-size: 14px;
        span{
          // text-transform: capitalize;
          color: $text-color;
        }
        a{

        }
      }
    }
    div#teamStatus{
      label.active{
        background: $blue;
      }

    }
  }

    div#teamPlayers{
      .panel-heading{
        // background: $blue;
        padding: 1px 15px 15px;
        height: 50px;
        a{
          color: $purple;
          text-decoration: none;

        }
        h3{
          font-size: 15px;
        }

        border-radius: 0px;

      }
      div.panel-body{
        min-height: 120px;
        overflow-y: scroll;
      }
      div.panel-footer{
        // background: #dce0c8;
      }
    }
  form#editPlayer{
    padding: 10px;
    .form-control{
      // border: 2px solid $blue;
    }

  }

  div#teamStaff{
    @extend #teamPlayers;
  }
}
div#add-player{
  #member-info{
    //padding: 20px;

    div#manager-img,div#player-img{
      img#show-img,img#show-player-img{
        width: 170px;
        height: 170px;
        display: block;
      }
      // button{
      //   background: $light-blue;
      //   width: 180px;
      //   height: 35px;
      //   position: relative;
      //   border-radius: 0;
      //   border: none;
      // }

      //cursor: pointer;
      input[type='file']{
        display: none;
      }

      i{
        position: absolute;
        font-size: 150px;
        color: blue;
        left: 17%;
        top: 5%;
      }
    }
    div#coach-img{
      img#show-coach-img{
        width: 180px;
        height: 180px;
        display: block;
      }
      button{
        background-color: $purple;
        color: white;
        width: 180px;
        height: 35px;
        position: relative;
        border-radius: 20px;
        border: none;
        &:hover{
          background-color: transparent;
          color: $purple;
          border: 1px solid $purple
        }
      }

      //cursor: pointer;
      input[type='file']{
        display: none;
      }

      i{
        position: absolute;
        font-size: 150px;
        color: blue;
        left: 17%;
        top: 5%;
      }
    }
    .form-control{
      // border: 2px solid $blue;
    }
    label{
      // color: $blue;
      font-weight: 400;
    }

    button{
      // margin-top: 16px;
      background-color: transparent;
      color: $blue;
      border-radius: 20px;
      border: 1px solid $blue;
      &:hover{
        color: $white;
        background-color: $blue;
      }
    }
    //member photo

  }
}
section#vb-team-edit{

  form{
    div#team-logo{
      img#show-logo-img{
        width: 25%;
        // height: 180px;
        // display: block;

      }
      input#logo{
        display: none;
      }
      button{
        // margin-left: 41px;
        margin-top: 15px;
        // padding: 5px;
      }
    }
    padding: 10px;
    .form-control{
      // border: 2px solid $blue;
    }

  }
}
ul.nav-pills {
  background-color: $purple !important;
  @extend #well;
  margin-bottom:20px;
}
.nav-pills > li.active {
  // display: blocks;
}
// .nav-pills > li {
//   display: inline-block;
//   width: 49%;
// }
.nav-pills > li.active > a,
.nav-pills > li.active > a:active,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: white !important;
  border-radius: 0;
  color: $purple;
  font-weight: 700;
}
.nav-pills > li > a {
  background-color: $purple !important;
  border-radius: 0;
  color: white;
}

.btn-purple {
  color: $purple;
  background-color: transparent;
  border: 1px solid $purple;
  border-radius: 20px;
  &:hover {color: white; background-color: $purple;}
}

a {
  text-decoration: none;
  color: $purple;
  &:hover{color: black;}
}

// Helper classes
.right-10 {
  margin-right: 10px;
}
.right-5 {
  margin-right: 5px;
}
.top-bottom-padding-40 {
  padding: 40px 0;
}
.bottom-40 {
  margin-bottom: 40px;
}
.top-40 {
  margin-top: 40px;
}
.bottom-20 {
  margin-bottom: 20px;
}
.top-20 {
  margin-top: 20px;
}
.bottom-10 {
  margin-bottom: 10px;
}
.top-10 {
  margin-top: 10px;
}
.float-right {
  float: right !important;
}
// End of helper classes
.purple {
  color: $purple;
}
.dark-gray {
  color: $dark-gray;
}

.gray-background {
  background-color: $whitesmoke;
}
.gray-separator {
  height: 1px;
  background-color: $gray;
  max-width: 600px;
}
.purple-separator {
  height: 1px;
  background-color: $purple;
}
.yellow-separator {
  height: 1px;
  background-color: $yellow;
  max-width: 600px;
}

// Media queries
@media (min-width: 320px) and (max-width: 767px) {
  .float-right {
    float: none !important;
  }
}
@media print {
   button { display: none; }/* Hide everything ... */
 // div#prInfo { display: block; }/* ... except the reired div */

}

// End of media queries
