html,body{
  height: 100%;
}
body{
  height: 100%;
}
@import"_variables";

.btn-purple {
  color: $purple;
  background-color: transparent;
  border: 1px solid $purple;
  border-radius: 20px;
  &:hover {color: white; background-color: $purple;}
}
.vb-button {
  background: $purple;
  color: white;
  border-radius: 20px;
  &:hover{
    background-color: transparent;
    border: 1px solid $purple;
    color: $purple;
  }
}

a {
  text-decoration: none;
  color: $purple;
  &:hover{color: black;}
}

// Helper classes
.right-10 {
  margin-right: 10px;
}
.right-5 {
  margin-right: 5px;
}
.top-bottom-padding-40 {
  padding: 40px 0;
}
.bottom-40 {
  margin-bottom: 40px;
}
.top-40 {
  margin-top: 40px;
}
.bottom-20 {
  margin-bottom: 20px;
}
.top-20 {
  margin-top: 20px;
}
.bottom-10 {
  margin-bottom: 10px;
}
.top-10 {
  margin-top: 10px;
}
.float-right {
  float: right !important;
}
// End of helper classes
.dark-gray {
  color: $dark-gray;
}

.gray-background {
  background-color: $whitesmoke;
}
.gray-separator {
  height: 1px;
  background-color: $gray;
}
.purple-separator {
  height: 1px;
  background-color: $purple;
}
.yellow-separator {
  height: 1px;
  background-color: $yellow;
}

// Media queries
@media (min-width: 320px) and (max-width: 767px) {
  .float-right {
    float: none !important;
  }
}
// End of media queries

div#wrapper{
  height: 100%;
}
#well{
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);

}
div#separator{
  height: 1px;
  background: $blue;
  margin-top: 7px;
  margin-bottom: 25px;
}
#center-block{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
div#page-wrapper{
  min-height: 100%;
  //background: url('../images/bg1.jpg') center center fixed;
  background-position: 100%;
  padding: 4%;
  background: white;
}
nav#team-menu{
  background: url("../images/volleyballng_heade2re.png") no-repeat center center;
  // background-size: auto auto;
  background-size: cover;
  border: none;

  a.navbar-brand img {
    width: 65px;
    position: absolute;
    top: 10%;
    //right: 34px;
  }
  ul.top-nav{
    a.dropdown-toggle{
      color: white;
    }
  }
}
ul#team-sidebar{
  background: $blue;
  li{
    a{
      color: white;
    }

  }
}
p.error{
  color: $brand-danger;
}
div.alert-success{
  background: $brand-success;
  color: white;
  // transition: f;
}
div.alert-warning{
  background-color: $brand-warning;
  color: white;
}
#vb-button{
  background: $blue;
  color: white;
  border-radius: 50px;
  &:hover{
    background-color: transparent;
    border: 1px solid $blue;
    color: $blue;
  }
}
div#admin-box{
  max-width:800px;
  @extend #well;
  border-radius: 0px;
  @extend #center-block;
  header{
    color: $blue;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.btn-purple {
  color: #4449ca;
  background-color: transparent;
  border: 1px solid #4449ca;
  border-radius: 20px;
}
section#team-overview{
  div#teamInfo{
    img{
      height: 150px;
      width: auto;
      @extend #center-block;
    }
    ul{
      li{
        line-height: 2;
        // font-size: 18px;
        span{
          // text-transform: capitalize;
          color: $text-color;
        }
        a{

        }
      }
    }
  }

  div#teamPlayers{
    .panel-heading{
      background: $blue;
      padding: 1px 15px 15px;
      height: 50px;
      a{
        color: white;
        text-decoration: none;

      }
      h3{
        font-size: 15px;
      }

      border-radius: 0px;

    }
    div.panel-body{
      height: 320px;
      overflow-y: scroll;
    }
    div.panel-footer{
      // background: #dce0c8;
    }
  }
  form#editPlayer{
    padding: 10px;
    .form-control{
      // border: 2px solid $blue;
    }

  }

  div#teamStaff{
    @extend #teamPlayers;
  }
}
div#add-player{

  #member-info{
    //padding: 20px;

    div#manager-img,div#player-img{
      img#show-img,img#show-player-img{
        width: 150px;
        height: 150px;
         display: block;
      }
      // button{
      //   background: $light-blue;
      //   width: 180px;
      //   height: 35px;
      //   position: relative;
      //   border-radius: 0;
      //   border: none;
      // }

      //cursor: pointer;
      input[type='file']{
        display: none;
      }

      i{
        position: absolute;
        font-size: 150px;
        color: blue;
        left: 17%;
        top: 5%;
      }
    }
    div#coach-img{
      img#show-coach-img{
        width: 180px;
        height: 180px;
        display: block;
      }
      button{
        background: $purple;
        color: white;
        width: 180px;
        height: 35px;
        position: relative;
        border-radius: 0;
        border: none;
        &:hover {
          background-color: transparent;
          color: $purple;
          border: 1px solid $purple;
        }
      }

      //cursor: pointer;
      input[type='file']{
        display: none;
      }

      i{
        position: absolute;
        font-size: 150px;
        color: blue;
        left: 17%;
        top: 5%;
      }
    }
    .form-control{
      // border: 2px solid $blue;
    }
    label{
      color: $dark-gray;
      // font-weight: 100;
    }

    button{
      margin-top: 16px;
      background-color: transparent;
      color: $blue;
      border-radius: 50px;
      border: 1px solid $blue;
    }
    //member photo

  }
}
div#tm-players{
  img{
    width: 250px;
    height: 200px;

  }
}
// .gray-separator {
//   height: 1px;
//   background-color: #e6e6e6;
// }
.top-20 {
  margin-top: 20px;
}
.bottom-20 {
  margin-bottom: 20px;
}
section#upTeamInfo{
  div#team-logo{
    img#show-logo-img{
      width: 25%;
      // height: 180px;
      // display: block;

    }
    input#logo{
      display: none;
    }
    button{
      // margin-left: 41px;
      margin-top: 15px;
      // padding: 5px;
    }
  }

}
div#teamInfo{
  ul{
    li{
      line-height: 28px;
      font-size: 14px;
    }
  }
  p.alert.alert-danger{
    background: $alert-red;
    font-size: 10px;
    color: white;
  }
  li#teamStatus{
    i{
      color: $brand-success;
    }
  }
}

/*
section#team-overview div#teamPlayers .panel-heading h3, section#team-overview div#teamStaff .panel-heading h3 {
  font-size: 15px;
}*/
